a{text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.side{
    width: 1349px;
}
.menu a{
    background: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}
.menu a:hover{
    color: white;
    background: #666;
    padding: 10px 0 10px 20px;
}
.menu__list{
    text-align: center;
    width: 225px;
    position: relative;
    float: left;
}

.menu__drop{
    position: absolute;
    width: 100%;
    opacity: 0;
    margin-top: 39px;
    top: -9999em;
    transition: 0.5s opacity;
}
.menu__list:hover .menu__drop{
    opacity: 1;
    top: 0;
}
.logout-button{
    width: 224px;
    height: 41px;
    border: none;
    color: white;
    background-color: #3d3d3d;
    transition: 0.5s all;
}
.logout-button:hover{
    background-color: #666;
}

.name{
    width: 300px;
    height: 27px;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: #3d3d3d;
    transition: 0.5s all;
    float: left;
}
.name:hover{
    background-color: #666666;
}

.categories{
    width: 1202px;
    height: 377px;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 30px;
    opacity: 0.8;
    /*border: solid 1px #3d3d3d;*/
    background-color: #6b6b6b;
    transition: 0.5s all;
}
.categories:hover{
    background-color: #919191;
}
.category{
    width: 298px;
    height: 123px;
    margin-top: 2px;
    margin-left: 2px;
    background-color:#6bb6e6;
    float: left;
    border: none;
    transition: 0.5s all;
}
.category:hover{
    color: #919191;
}
.hr{
    width: 1200px;
    height: 3px;
    background-color: #3d3d3d;
    margin-left: 70px;
    margin-bottom: 100px;
}
.category-name{
    width: 297px;
    height: 30px;
    display: block;
    font-size: 25px;
    text-align: center;
    /*background: #3d3d3d;*/
    margin-top: 10px;
    color: #3d3d3d;
}
.icon{
    margin-top: 20px;
    margin-left: 123px;
}
.accounts{
    width: 1200px;
    height: 27px;
    margin-top: 50px;
    margin-left: 70px;
}
.account{
    width: 300px;
    height: 27px;
    color: white;
    font-size: 19px;
    /*border-radius: 10px;*/
    text-align: center;
    background-color: #3d3d3d;
    float: left;
    transition: 0.5s all;
}
.account:hover{
    background-color: #666666;
}

.a{
    color: #3d3d3d;
}
.plus-1{
    width: 10px;
    height: 10px;
    margin-left: 120px;
    color: #3d3d3d;
    transition: 0.5s all;
    float: left;
}
.plus-1:hover{
    color: #919191;
    padding: 0px 0px 0px 5px;
}
.plus-3{
    width: 10px;
    height: 10px;
    margin-top: 30px;
    margin-left: 120px;
    color: #3d3d3d;
    transition: 0.5s all;
    float: left;
}
.plus-3:hover{
    color: #919191;
    padding: 0px 0px 0px 5px;
}
.add-your-account-or-category{
    width: 300px;
    height: 27px;
    color: white;
    font-size: 19px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    background-color: #3d3d3d;
    float: left;
    transition: 0.5s all;
}
.plus-2{
    margin-left: 550px;
    font-size: 8em;
    color: white;
}
.icon-plus-2{
    margin-top: 100px;
}
.add-your-category{
    text-align: center;
    font-size: 2em;
    color: white;
}
.footer{
    width: 1349px;
    height: 190px;
    background-color: #3d3d3d;
}
.part-1{
    width: 100px;
    height: 180px;
    margin-left: 120px;
    margin-right: 100px;
    color: white;
    float: left;
    /*background-color: yellow;*/
}
.part-2{
    width: 100px;
    height: 180px;
    float: left;
    /*background-color: #67b168;*/
}
.part-3{
    width: 440px;
    height: 180px;
    margin-left: 450px;
    color: white;
    float: left;
    /*background-color: #a6e1ec;*/
}
.follow-us{
    margin-top: 50px;
    margin-left: 30px;
    font-family: "DejaVu Sans";
    font-size: 16px;
    color: white;
}
.footer-icon{
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    transition:  0.5s all;
    color: white;
}
.footer-icon:hover{
    color: #6bb6e6;
}
.part-of{
    font-size: 17px;
    margin-top: 40px;
    color: white;
}

.part-of-foot{
    margin-top: 10px;
    font-family: "DejaVu Sans";
    color: white;
}




